 html,body{font:normal 0.9em arial,helvetica;}


table{
	border-collapse: collapse;
	border: 2px;
	overflow: scroll;
	height: 50px;
}

td{
	padding: 5px;


}
#msg{
	width:330px;
}
#chat{
	width: 700px;
	height: 400px;
}
#chatMsg{
	width: 600px;
	height: 150px;
	border:1px solid #7F9DB9;
	overflow:scroll;
}